/*HTML body occupies all available space*/
body {
  margin: 0;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}



/*Centers contents along both X and Y axes*/
.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Centers contents along X axis (horizontally)*/
.center-x {
  display: flex;
  justify-content: center;
}

/*Centers contents along Y axis (vertically)*/
.center-y {
  display: flex;
  align-items: center;
}


/*Top navigation bar requirements*/
.navbar {
  width: 100%;
  background-color: MidnightBlue;
}

.navbar a.element {
  float: left;
  color: White;
  text-align: center;
  padding: 0.65vw 0.65vw;
  width: 9%;
  transition: 0.8s; /*Transition time when hovering*/
}

.navbar a.element:hover {
  background-color: MediumBlue;
}

/*Specific Login element*/
.navbar a.login {
  float: left;
  background-color: Black;
}

.navbar a.login:hover {
  background-color: DarkSlateGray;
}

/*Specific Sign-up element*/
.navbar a.signup {
  float: left;
  background-color: DarkRed;
}
.navbar a.signup:hover {
  background-color: Brown;
}


/*index.html first table, with white text to the left and a picture to the right*/
.index_first_element {
  width: 100%;
  color: White;
  background-image: linear-gradient(to right, MidnightBlue , DarkSlateGrey);
}

.index_first_element_tr_text {
  padding: 5%;
  width: 50%;
}

.index_first_element_tr_image {
  padding: 2.5%;
  width: 50%;
}


.index_how_it_works {
  background-color: Gainsboro;
  padding: 2%;
}



/*Gradient background that occupies the entire div, used for sign-up and login pages.*/
.full_bakground_sign_up__login {
  background-image: linear-gradient(GhostWhite, LightCyan);
}


/*Sign-up box with rounded corners*/
.signup_box_with_rounded_corners {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 25px;
  border: 3px solid FireBrick;
  background-color: Linen;
}

/*Login box with rounded corners*/
.login_box_with_rounded_corners {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 25px;
  border: 3px solid DarkSlateBlue;
  background-color: HoneyDew;
}



.gridded_form {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:2%;
}



/*Custom submit input at the end of form*/
.submit_input {
  background-color: DarkRed;
  color: GhostWhite;
  width: 50%;
  padding: 5px;
  border: none;
}

.submit_input:hover {
  background-color: Maroon;
}

.submit_input_login {
  background-color: SteelBlue;
  color: GhostWhite;
  width: 50%;
  padding: 5px;
  border: none;
}

.submit_input_login:hover {
  background-color: DarkBlue;
}

.disallowed_button {
  background-color: Gainsboro;
  color: Black;
  width: 50%;
  padding: 5px;
  border: none;
}

.disallowed_button:hover {
  background-color: Grey;
}


/*Error message*/
.error_message {
  background-color: IndianRed;
  color: White;
  border: 2px solid OrangeRed;
  width: 85%;
  padding: 2%;
  margin: 3%;
}

/*Success message*/
.success_message {
  background-color: DarkOliveGreen;
  color: White;
  border: 2px solid DarkGreen;
  width: 85%;
  padding: 2%;
  margin: 3%;
}


/*Forces an item to occupy 100% of the width*/
.full_width {
  width: 100%;
}


/*Thin horizontal line, useful for separations*/
.thin_horizontal_line_CornFlowerBlue{
  border: 1px solid CornFlowerBlue;
  width: 100%;
  height: 0px;
}

.footer {
   position: relative;
   bottom: 0;
   padding-bottom: 1vh;
   width: 100%;
   background-color: AliceBlue;
   color: Black;
   text-align: center;
}