/*HTML body occupies all available space*/
body {
  margin: 0;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}



/*Centers contents along both X and Y axes*/
.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Centers contents along X axis (horizontally)*/
.center-x {
  display: flex;
  justify-content: center;
}

/*Centers contents along Y axis (vertically)*/
.center-y {
  display: flex;
  align-items: center;
}

/*Centers the text within a div*/
.center_aligned_text {
  text-align: center;
}


/*Intended for images which are to be faded in*/
.standard_opacity_img {
  opacity: 1;
  transition: opacity 0.5s;
}

.standard_opacity_img[alpha0] {
  opacity: 0;
}


/*Top navigation bar requirements*/
.navbar {
  width: 100%;
  background-color: MidnightBlue;
  max-height: 8vh;
}


.navbar a.logo_element {
  width: 15%;
}

.navbar_empty_element {
  width: 40%;
}

.navbar_empty_element_loggedin {
  width: 20%;
}

/*Specific driving element*/
.navbar a.driving_element {
  float: left;
  color: White;
  text-align: center;
  padding: 0.65vw 0.65vw;
  width: 20%;
  transition: 0.8s; /*Transition time when hovering*/
  text-decoration: none; /*No decoration*/
}

.navbar a.driving_element:hover {
  background-color: MediumBlue;
}


.navbar a.element {
  float: left;
  color: White;
  text-align: center;
  padding: 0.65vw 0.65vw;
  width: 9%;
  transition: 0.8s; /*Transition time when hovering*/
  text-decoration: none; /*No decoration*/
}

.navbar a.element:hover {
  background-color: MediumBlue;
}

/*Specific Login/Profile element*/
.navbar a.login {
  float: left;
  background-color: Black;
}

.navbar a.login:hover {
  background-color: DarkSlateGray;
}

/*Specific Sign-up element*/
.navbar a.signup {
  float: left;
  background-color: DarkGreen;
}
.navbar a.signup:hover {
  background-color: Green;
}

/*Specific Logout element*/
.navbar a.logout {
  float: left;
  background-color: SlateGray;
}

.navbar a.logout:hover {
  background-color: Silver;
}

/*index.html first table, with white text to the left and a picture to the right*/
.index_first_element {
  width: 100%;
  color: White;
  background-color: MidnightBlue;
}

.index_first_element_tr_text {
  padding: 5%;
  width: 50%;
}

.index_first_element_tr_image {
  padding: 2.5%;
  width: 50%;
}


.index_23 {
  background-color: Gainsboro;
  padding: 2%;
}

/*Each splide slide inner div is allowed to occupy only 80% of the available width*/
.slide_within_splide {
  width: 80%;
}


/*Answered questions section in index.html*/
.index_aq {
  width: 100%;
  background-color: MidnightBlue;
  color: White;
}

.index_aq a {
  color: Tomato;
}

/*Gradient background that occupies the entire div, used for sign-up and login pages.*/
.full_bakground_sign_up__login {
  background-image: linear-gradient(GhostWhite, LightCyan);
}


/*Sign-up box with rounded corners*/
.signup_box_with_rounded_corners {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 25px;
  border: 3px solid FireBrick;
  background-color: Linen;
}

/*Login box with rounded corners*/
.login_box_with_rounded_corners {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 25px;
  border: 3px solid DarkSlateBlue;
  background-color: HoneyDew;
}



.gridded_form {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:2%;
}



/*Custom submit input at the end of form*/
.submit_input {
  background-color: DarkRed;
  color: GhostWhite;
  width: 50%;
  padding: 5px;
  border: none;
}

.submit_input:hover {
  background-color: Maroon;
}

.submit_input_login {
  background-color: SteelBlue;
  color: GhostWhite;
  width: 50%;
  padding: 5px;
  border: none;
}

.submit_input_login:hover {
  background-color: DarkBlue;
}

.disallowed_button {
  background-color: Gainsboro;
  color: Black;
  border: none;
}

.disallowed_button:hover {
  background-color: Grey;
}


/*Error message*/
.error_message {
  background-color: IndianRed;
  color: White;
  border: 2px solid OrangeRed;
  width: 85%;
  padding: 2%;
  margin: 3%;
}

/*Success message*/
.success_message {
  background-color: DarkOliveGreen;
  color: White;
  border: 2px solid DarkGreen;
  width: 85%;
  padding: 2%;
  margin: 3%;
}


/*Forces an item to occupy 100% of the width*/
.full_width {
  width: 100%;
}

.half_width {
  width: 50%;
}


.full_width__full_height {
  width: 100%;
  height: 100%;
}


.driving_select {
  width: 100%;
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/3/38/LeMans_1923.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4vh;
  padding-bottom: 4vh;
}


.driving_select_box {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 25px;
  border: 3px solid Black;
  background-color: rgba(0, 0, 0, 0.75);
  color: White;
}


.process_driving_conditions {
  text-align: center;
  color: White;
  background-color: Black;
  border: none;
  transition: 0.8s;
  opacity: 1;
  padding: 1vw;
}

.process_driving_conditions:hover {
  background-color: Gray;
}

.driving_log {
  width: 80%;
  background-color: DarkSlateBlue;
  color: White;
  overflow-y: auto;
}



.driving_table {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

.driving_controls {
  background-color: RebeccaPurple;
  color: White;
  width: 30%;
  padding: 0;
  margin: 0;
  border: 0;
}

.driving_area {
  width: 70%;
  padding: 0;
  margin: 0;
  border: 0;
}



/*ul without bullets or any other markers*/
.ul_without_markers {
  list-style-type: none;
}



/*Thin horizontal line, useful for separations*/
.thin_horizontal_line_CornFlowerBlue{
  border: 1px solid Black;
  width: 100%;
  height: 0px;
}

.footer {
   position: relative;
   bottom: 0;
   padding-bottom: 1vh;
   width: 100%;
   background-color: Gray;
   color: White;
   text-align: center;
}

.underfooter {
   width: 100%;
   background-image: linear-gradient(Gray, White);
}