/*Centers along both X and Y axes*/
.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*Centers along X axis (horizontally)*/
.center-x {
  display: flex;
  justify-content: center;
}

/*Centers along Y axis (vertically)*/
.center-y {
  display: flex;
  align-items: center;
}

/*Top navigation bar requirements*/
.navbar {
  width: 100%;
  background-color: SteelBlue;
}

.navbar a.element {
  float: left;
  color: Snow;
  text-align: center;
  padding: 0.65vw 0.65vw;
  width: 9%;
}

.navbar a.element:hover {
  background-color: Snow;
  color: SlateGrey;
}

/*Specific Login element*/
.navbar a.login {
  float: left;
  background-color: DarkBlue;
}

/*Specific Sign-up element*/
.navbar a.signup {
  float: left;
  background-color: DarkRed;
}


/*HTML body occupies all available space*/
body {
  margin: 0;
}

/*Thin horizontal line, useful for separations*/
.thin_horizontal_line_CornFlowerBlue{
  border: 1px solid CornFlowerBlue;
  width: 100%;
  height: 0px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: AliceBlue;
   color: Black;
   text-align: center;
}